$navbar-dropdown-background : $global-muted-background;

@mixin hook-navbar-container() {
  box-shadow : 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.uk-navbar-dropdown {
  border-radius : $border-rounded-border-radius;
}