@mixin hook-card-default() {
  box-shadow : -10px 10px 30px #262626, 10px -10px 30px #404040;
  color      : #aaa;
}

@mixin hook-card-default-title() {
  color : #f76f25;
}

//@mixin hook-navbar-container() {
//  box-shadow : -10px 10px 30px #262626, 10px -10px 30px #404040;
//}

.card-cut {
  $height : 140px;
  $width  : 102px;
  height  : $height;
  width   : $width;

  .border {
    background-color      : #fff;
    color                 : #fff;
    height                : $height;
    -webkit-mask-image    : url(https://gx-corner.opera.com/a2583ef.svg);
    -webkit-mask-position : center center;
    -webkit-mask-repeat   : space;
    -webkit-mask-size     : auto;
    overflow              : hidden;
    position              : absolute;
    width                 : $width;
  }

  .inner {
    color    : #fff;
    height   : $height;
    overflow : hidden;
    position : absolute;
    width    : $width;

    .background {
      clip-path   : $clip;
      height      : 100%;
      line-height : normal;
      opacity     : 0.08;
      position    : absolute;
      width       : 100%;
    }
  }
}