* {
    border      : none;
    font-family : Primus, Century Gothic, Avant Garde, sans-serif;
    margin      : 0;
    padding     : 0;
}

@font-face {
    font-family : Primus, Century Gothic, Avant Garde, sans-serif;
    src         : url(../../Primus/Alt/Primus-Regular.ttf);
}

body {
    background-color : rgb(27, 32, 34);
    color            : white;
    font-family      : Primus;
    font-size        : 1.5vw;
    overflow-x       : hidden;
}

a:link {
    color : orange;
}

a:visited {
    color : yellow;
}

a:hover {
    color : red;
}

.Column {
    float   : left;
    padding : 0.5vw;
}

.DialogText {
    color       : white;
    font-family : Primus, Century Gothic, Avant Garde, sans-serif;
    font-size   : 2vw;
}

.DialogText b {
    color       : white;
    font-family : Primus, Century Gothic, Avant Garde, sans-serif;
    font-size   : 2vw;
    font-weight : bold;

}

.HelpText {
    color       : white;
    font-family : Primus, Century Gothic, Avant Garde, sans-serif;
    font-size   : 1.5vw;
}

.HelpText b {
    color       : white;
    font-family : Primus, Century Gothic, Avant Garde, sans-serif;
    font-size   : 1.5vw;
    font-weight : bold;

}

.HelpText h1 {
    font-family : Primus, Century Gothic, Avant Garde, sans-serif;
    font-size   : 2.5vw;
    font-weight : bold;
}

.HelpText h2 {
    font-family : Primus, Century Gothic, Avant Garde, sans-serif;
    font-size   : 2vw;
    font-weight : bold;
}

.HelpText h3 {
    font-family : Primus, Century Gothic, Avant Garde, sans-serif;
    font-size   : 1.5vw;
    font-weight : bold;
}

.HelpText ul {
    list-style-type : square;
    padding         : 2px;
}

.HelpText li {
    margin-left : 20px;
    padding     : 0px;
}

#Dialog {
    height : auto;
    width  : 55vw;
}

#ImageColumn {
    width : 40vw;
}

#FullColumn {
    height : auto;
    width  : 95vw;
}

.DialogImg {
    height : auto;
    width  : inherit;
}

.Main {
    display      : inline-block;
    margin-right : 50px;
    width        : 100vw;

}

.padder {
    content  : "";
    display  : block;
    height   : 1px;
    position : absolute;
    right    : -2rem;
    width    : 2rem;

}

.spacer {
    content  : "";
    display  : block;
    height   : 32px;
    position : absolute;
    right    : -2rem;
    width    : 2rem;

}