* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Primus, Century Gothic, Avant Garde, sans-serif;
}

@font-face {
    font-family: Primus, Century Gothic, Avant Garde, sans-serif;
    src: url(../../Primus/Alt/Primus-Regular.ttf);
}

body {
    font-size: 1.5vw;
    background-color: rgb(27, 32, 34);
    color: white;
    overflow-x: hidden;
    font-family:Primus;
}

a:link{
  color: orange;
}

a:visited{
  color: yellow;
}

a:hover {
  color: red;
}

.Column {
    float: left;
     padding: 0.5vw;
}

.DialogText {
    color:white;
    font-size:2vw;
    font-family:Primus, Century Gothic, Avant Garde, sans-serif;
}

.DialogText b {
    color:white;
    font-size:2vw;
    font-weight: bold;
    font-family:Primus, Century Gothic, Avant Garde, sans-serif;

}

.HelpText {
    color:white;
    font-size:1.5vw;
    font-family:Primus, Century Gothic, Avant Garde, sans-serif;
}

.HelpText b {
     color:white;
    font-size:1.5vw;
    font-weight: bold;
    font-family:Primus, Century Gothic, Avant Garde, sans-serif;

}

.HelpText h1 {
    font-size:2.5vw;
    font-weight: bold;
    font-family:Primus, Century Gothic, Avant Garde, sans-serif;
}

.HelpText h2 {
    font-size:2vw;
    font-weight: bold;
    font-family:Primus, Century Gothic, Avant Garde, sans-serif;
}

.HelpText h3 {
    font-size:1.5vw;
    font-weight: bold;
    font-family:Primus, Century Gothic, Avant Garde, sans-serif;
}

.HelpText ul {
  list-style-type: square;
  padding: 2px;
}

.HelpText li {
    margin-left: 20px;
    padding: 0px;
}

#Dialog {
    width: 55vw;
    height:auto;
}

#ImageColumn {
    width: 40vw;
}

#FullColumn {
    width: 95vw;
    height:auto;
}

.DialogImg {
    height: auto;
    width:inherit;
}

.Main {
    width: 100vw;
    display: inline-block;
    margin-right: 50px;
   
}

.padder {
    content: "";
    display: block;
    position: absolute;
    right: -2rem;
    width: 2rem;
    height: 1px;
   
}

.spacer {
    content: "";
    display: block;
    position: absolute;
    right: -2rem;
    width: 2rem;
    height: 32px;

}